@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
   --dark-bg:#0a0a0a;
   --darker-bg:#050505;
   --accent:#2ecc71;
   --accent-glow: rgba(46, 204, 113, 0.4);
   --text: #ffffff;

}

body {
  background-color: var(--dark-bg);
  color: var(--text);
  line-height: 1.6;
  overflow-x: hidden;

}

/* Navbar Styles */


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(10, 10, 10, 0.95);
  backdrop-filter:blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--accent)
}
