@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
   --dark-bg:#0a0a0a;
   --darker-bg:#050505;
   --accent:#2ecc71;
   --accent-glow: rgba(46, 204, 113, 0.4);
   --text: #ffffff;

}

body {
  background-color: var(--dark-bg);
  color: var(--text);
  line-height: 1.6;
  overflow-x: hidden;

}

/* Navbar Styles */


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(10, 10, 10, 0.95);
  backdrop-filter:blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--accent);
  text-decoration: none;
  padding-left: 2.5rem ;
}

-nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;

}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;

}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* hero section styles */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 12% 5%;
  background: radial-gradient(circle at 75% 30%, var(--accent-glow) 0%, transparent 30%)
}
